# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# то что снизу лучше делать на уровне пайплайнов но пока так
DATABASE_URL=
DB_PROD_PASS=
JWT_SECRET=
JWT_EXPIRE=
NODE_ENV=

MODE=

CLIENT_URL=
API_URL=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=


GRAD_API_LINK=
GRAD_TOWN_ID=
GRAD_USERNAME=
GRAD_PASSWORD=
GRAD_TERMINAL_ID=


PAYMENT_SERVICE_COMISSION=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_REDIRECT_URL=

ZVONOK_COM_PUBLIC_API=
ZVONOK_COM_VERIFY_CAMPAIGN=


TG_TOKEN=
TG_CHAT_ID=
